<domain type='kvm'>
  <name>{{name|default("dovetail-test")}}</name>
  <memory unit='KiB'>{{memory|default(4194304)}}</memory>
  <vcpu placement='static'>{{vcpus|default(4)}}</vcpu>
  <os>
    <type arch='s390x'>hvm</type>
    <boot dev='hd'/>
  </os>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{image}}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>
